.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.col-2{
    margin-top: 20px;
}
.center{
    display: flex;
    justify-content: center;
}
.d-none{
    display: none;
}
.d-visible{
    display: visible !important;
}