<h1 class="h1 text-white text-center font-monospace pt-1">VALORANT AGENTS</h1>

<div class="row">
    <app-agent-item class="col-3" *ngFor="let agent of agentList" [agent]="agent" (clickOnAgent)="open($event, agentDetails)"></app-agent-item>
</div>
<ng-template #agentDetails let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{selectedAgent?.displayName}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<h5 class="h5">Abilities</h5>
		<ul class="list-group">
            <li class="list-group-item" *ngFor="let abilitie of selectedAgent?.abilities">{{abilitie.displayName}}: {{abilitie.description}}</li>
        </ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>