<div class="card mt-3" style="max-width: 540px; height: 275px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center ">
        <img src="{{agent.displayIconSmall}}" class=" rounded-start img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{agent.displayName}}</h5>
          <p class="card-text">{{agent.description}}</p>
          <button class="btn {{setButtonColor()}}" (click)="clickOnDetails()">Agent Details</button>
        </div>
      </div>
    </div>
  </div>
