<div class="card text-center">
    <div class="card-header">
      <h2 class="h2">{{planet.name}}</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Clima: {{planet.climate}}</li>
        <li class="list-group-item">Diametro: {{planet.diameter}}</li>
        <li class="list-group-item">Población: {{planet.population}}</li>
        <li class="list-group-item">Terreno: {{planet.terrain}}</li>
        <li class="list-group-item">Período de rotación: {{planet.rotation_period}}</li>
      </ul>
    </div>
    <div class="card-footer text-body-secondary">
      Creado en: {{planet.created}}
    </div>
  </div>
