<div class="row m-auto rounded-4 mt-5 shadow-sm" id="cardCar">
    <div class="col-6 d-flex flex-column align-content-between pt-2">
        <h2 class="h1 fw-bold">Tesla Model X</h2>
        <p class="fs-6 fs-light text-secondary ">Automatic/Manual</p>
        <div class="h-100 d-flex mb-5">
            <div class="bg-dark text-light justify-content-center d-flex align-self-end shadow-sm" id="money"><p class="pt-1 pb-1 m-0 fw-semibold align-self-center">$298<span class="small fw-lighter">/day</span></p></div>
        </div>
    </div>
    <div class="col-6">
        <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2ccc.png" alt="" class="w-100">
    </div>
</div>

